<style>
body{
	margin: 0px;
	padding: 0px;
	height: 100%; 
	color: #585858;
}
header{
	height: 100px;
	background-color: #b8b894;
	color: #39ac73;
}
nav{
	margin-top: 80px;
	margin-left: 150px;
}
nav     img.img-circle {
        border-radius: 50%;
	width: 150px;
	height: 150px;
    }
nav  a.img-blur:hover{
	opacity:0.7;
} 
nav form.usr{
	padding-left: 100px;
}
footer{
	margin-top: 470px;
	margin-left: 520px;
	margin-right: 550px;
	color: #585858;
}
</style>
